<!--
Components FM
@Author Josselin CHEVALAY <josselin54.chevalay@gmail.com
@package js/Podcastor/Components/
-->
<link rel="import" href="../../../libs/polymer/polymer.html">
<link rel="import" href="../../../libs/core-icons/core-icons.html">
<link rel="import" href="../../../libs/core-input/core-input.html">
<link rel="import" href="../../../libs/core-icons/social-icons.html">
<link rel="import" href="../../../libs/core-field/core-field.html">
<link rel="import" href="../../../libs/paper-button/paper-button.html">
<link rel="import" href="../../../libs/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../Modal/deleteModal.html">
<link rel="import" href="../Modal/updateModal.html">

<link rel="import" href="../Service/Fm.html">


<polymer-element name="components-fm" attributes="visualisation object parent">
  <style>
  </style>
  <template>
    <div class="element">
      <h2>
        {{object.name}}
        <paper-icon-button icon="arrow-drop-down" data-visualisation="{{visualisation}}" on-click="{{changeVisualisation}}"></paper-icon-button>
        <template bind if="{{isAuthor}}">
          <modal-delete object="{{object}}" service="{{service}}" parent="{{parent}}"></modal-delete>
          <modal-update object="{{object}}" service="{{service}}" parent="{{parent}}" properties="{{propertiesMap}}"></modal-update>
          <paper-button icon="cloud-upload" on-click=""></paper-button>
        </template>
      </h2>
      <template bind if="{{visualisation == 'maxi'}}">
        <p>
          <label>Description : </label>{{object.description}}
        </p>
        <p>
          <label>PodCast : </label>{{object.podcast.length}}
        </p>
        <p>
          <label>Author : </label> {{object.author.pseudo.givenName}} {{object.author.pseudo.familyName}}
        </p>
      </template>
      <template bind if="{{visualisation == 'mini'}}">
      </template>
      <div class="stats">
        <paper-icon-button icon="social:plus-one" label="{{object.like.length}}" data-action="like" on-click="{{judgement}}"></paper-icon-button>
        <paper-icon-button icon="social:plus-one" label="{{object.dislike.length}}" data-action="dislike" on-click="{{judgement}}"></paper-icon-button>
        <paper-icon-button icon="social:people" label="{{object.followers.length}}" on-click={{follow}}></paper-icon-button>
      </div>
    </div>
  </template>
  <script>
    Polymer('components-fm', {
      ready: function() {
        this.app = document.getElementById('app');
        this.isAuthor = this.object.author.uid === this.app.Storage.User.uid;
        this.service = document.createElement('service-fm');
        this.current = this;
        this.propertiesMap = ['name', 'description'];
        return;
      },
      changeVisualisation: function(event) {
        var elmt = event.target;
        var visu = elmt.getAttribute('data-visualisation');
        if (visu == 'mini') {
          this.visualisation = 'maxi'
          elmt.icon = 'arrow-drop-up';
        } else {
          this.visualisation = 'mini'
          elmt.icon = 'arrow-drop-down';
        }
        return;
      },
      judgement: function(event) {
        var action = event.target.getAttribute('data-action');
        if (currentUser = this.app.Storage.User) {
          var isLike = _.find(this.object.like, currentUser); // check if already like
          var isDisLike = _.find(this.object.dislike, currentUser) // check if already dislike
          if (!isLike && !isDisLike) { // first try !
            this.object[action].push(currentUser);
          }
          if (isDisLike) {
            this.object.dislike = _.without(this.object.dislike, _.find(this.object.dislike, currentUser)); // erease on dislike
            this.object.like.push(currentUser);
          } else if (isLike) {
            this.object.like = _.without(this.object.like, _.find(this.object.like, currentUser)); // erease on dislike
            this.object.dislike.push(currentUser);
          }
          var service = document.createElement('service-fm');
          service.put(_.clone(this.object));
        }
        return;
      },
      follow: function() {
        if (currentUser = this.app.Storage.User) {
          var isFollow = _.find(this.object.followers, currentUser);
          if (!isFollow) {
            this.object.followers.push(currentUser);
          }else{
            this.object.followers = _.without(this.object.followers, _.find(this.object.followers, currentUser)); // erease on dislike
          }
          var service = document.createElement('service-fm');
          service.put(_.clone(this.object));
        }
        return;
      },
     delete : function()
     {
       throw new Error('not implemented');
     }     
    });
  </script>
</polymer-element>
