<!--
Components FM
@Author Josselin CHEVALAY <josselin54.chevalay@gmail.com
@package js/Podcastor/Components/
-->
<link rel="import" href="../../../libs/polymer/polymer.html">
<polymer-element name="components-fm" attribute="visualisation object">
  <template>
    <template if="{{this.visualisation == 'maxi'}}">
      <!-- TODO foreach + display -->
    </template>
    <template if="{{this.visualisation == 'mini'}}">
      <!-- TODO display element -->
    </template>
  </template>
  <script>
  Polymer('components-fm', {

  });
  </script>
</polymer-element>
