<!--
Components FM
@Author Josselin CHEVALAY <josselin54.chevalay@gmail.com
@package js/Podcastor/Components/
-->
<link rel="import" href="../../../libs/polymer/polymer.html">
<polymer-element name="components-fm" attributes="visualisation object">
  <template>
    <template if="{{visualisation == 'maxi'}}">
      {{object['last']}}
    </template>
    <template if="{{visualisation == 'mini'}}">
      <!-- TODO display element -->
    </template>
  </template>
  <script>
    Polymer('components-fm', {

    });
  </script>
</polymer-element>
