<!--
View Acceuil
@Author Josselin CHEVALAY <josselin54.chevalay@gmail.com
@package js/Podcastor/Views/
-->
<link rel="import" href="../../../libs/polymer/polymer.html">
<polymer-element name="view-acceuil" attribute="">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        background-color: white;
        padding: 20px;
        width: 85%;
        font-size: 1.2rem;
        font-weight: 300;
      }
      .card-header {
        margin-bottom: 10px;
      }
      polyfill-next-selector {
        content: '.card-header h2';
      }
      .card-header::content h2 {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 300;
      }
      polyfill-next-selector {
        content: '.card-header img';
      }
      .card-header::content img {
        width: 70px;
        border-radius: 50%;
        margin: 10px;
      }
    </style>
    <div>
      <p>Share your podcast ! </p>
      <div>
  </template>
  <script>
    Polymer("view-acceuil", {});
  </script>
</polymer-element>
