<!--
View login
@Author Josselin CHEVALAY <josselin54.chevalay@gmail.com
@package js/Podcastor/Views/
-->
<link rel="import" href="../../../libs/polymer/polymer.html">

<link rel="import" href="../../../libs/paper-elements/paper-elements.html" />
<link rel="import" href="../../../libs/core-elements/core-elements.html" />

<link rel="import" href="../Service/Fm.html" />
<link rel="import" href="../Components/Fm.html" />
<link rel="import" href="../Modal/addModal.html" />

<polymer-element name="view-fm" attribute="fms">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        padding: 20px;
        font-size: 1.2rem;
        font-weight: 300;
        background-color: white;
      }
      .fm {
        margin-bottom: 30px;
      }
    </style>
    <div>
      <h1> FM </h1>
      <div>
        <div class="search">
          <span> Desgin Search </span>
          <modal-add object="{{returnObject()}}" service="{{service}}" parent="Fm" properties="{{propertiesMap}}" list="{{fms}}"></modal-update>
        </div>
        <div class="table">
          <template repeat="{{fm in fms}}">
            <components-fm object='{{fm}}' visualisation='mini' class="fm" parent="Fm" list="{{fms}}"></components-fm>
          </template>
        </div>
  </template>
  <script>
    Polymer("view-fm", {
      ready: function(event) {
        var self = this;
        this.service.addEventListener('service-fm-get', function(event) {
          event.stopImmediatePropagation();
          self.fms = self.service.fm;
        });
      },
      returnObject: function(){
       this.init();
        return _.clone(this.service.createEntity(this.app.Storage.User));
      },
      init: function(){
        this.app = document.getElementById('app');
        this.propertiesMap ={'name':{'type':'text'}, 'description':{'type':'text'}}; 
        this.service = document.createElement('service-fm');
      }
    });
  </script>
</polymer-element>
