<!--
View login
@Author Josselin CHEVALAY <josselin54.chevalay@gmail.com
@package js/Podcastor/Views/
-->
<link rel="import" href="../../../libs/polymer/polymer.html">

<polymer-element name="view-user" attribute="">
  <template>
    <style>
    </style>
    <div>
      <template bind if="{{app.Storage.User}}">
        <h1>
          <template if="{{app.Storage.User.pseudo.givenName}}">
            {{app.Storage.User.pseudo.givenName}}
          </template>
          <template if="{{app.Storage.User.pseudo.familyName}}">
            {{app.Storage.User.pseudo.familyName}}
          </template>
        </h1>
      </template>
      <template bind if="{{!app.Storage.User}}">
        <h3>connect you ! </h3>
      </template>
      <div>
  </template>
  <script>
    Polymer("view-user", {
      ready: function() {
        this.app = document.getElementById('app');
      },
    });
  </script>
</polymer-element>
